* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), transparent),
    url("https://p0.pikist.com/photos/954/566/girl-lights-neon-sign-nightlife-person-smiling-woman-illuminated-night-young-adult.jpg");
  background-size: cover;
  background-position: center;
  padding: 2% 6%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav {
  display: flex;
  column-gap: 10vw;
  padding: 25px 0;
}

.logo {
  padding: 0;
  height: 7vw;
  display: flex;
  position: relative;
  cursor: pointer;
  flex: 1.5;
}

.logo h1 {
  padding: 0;
  margin: 0;
  font-size: 7vw;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  background: url("img/back.png");
  -webkit-background-clip: text;
  background-clip: text;
  background-position: 0 0;
  animation: back 20s linear infinite;
}

.logo span {
  font-size: 3vw;
  font-weight: bolder;
  color: #fff;
  position: absolute;
  left: 5vw;
  bottom: -0.4vw;
}

a {
  text-decoration: none;
  color: aliceblue;
  cursor: pointer;
}
.linkContainer>i{
  color: #fff;
}
.linkContainer i.bx-menu {
  display: none;
}
.linkContainer{
  display: flex;
  flex: 1.5;
  align-items: center;
  justify-content: flex-end;
}
nav ul {
  display: flex;
  width: 90%;
  justify-content: space-between;
  text-align: right;
  padding-top: 5vw;
}

li {
  list-style: none;
  display: inline-block;
}

nav ul li a {
  color: #fff;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
}

nav ul li a:hover:after {
  content: "";
  width: 50%;
  height: 2px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
}

.text-box {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.text-box p {
  font-size: 5vw;
  font-weight: 600;
}
.textLogo{
  margin-bottom: 2vw;
}

.text-box h1 {
  font-size: 12vw;
  line-height: 10vw;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  background: url("img/back.png");
  -webkit-background-clip: text;
  background-clip: text;
  background-position: 0 0;
  object-fit: cover;
  animation: back 20s linear infinite;
}

@keyframes back {
  100% {
    background-position: 1700px 10px;
  }
}

.text-box h3 {
  font-size: 3vw;
  font-weight: 500;
}

.text-box .row {
  width: 80vw;
  display: flex;
  align-items: center;
  row-gap: 10px;
  column-gap: 10px;
  margin-top: 5vw;
}


.text-box a {
  padding: 10px 20px;
  border: 2px solid #fff;
  border-radius: 50px;
}

.social-icons {
  height: 30vh;
  position: absolute;
  right: 1vw;
  bottom: 7vw;
}

.social-icons i {
  font-size: 3vw;
  display: block;
  margin: 5px;
}
 
@media(max-width:500px){
  .text-box a{
    font-size: 3vw;
  }
}

@media(max-width:767px){
  .text-box p {
    font-size: 7vw;
  }
  .text-box h1 {
    font-size: 15vw;
    line-height: 12vw;
  }
  .text-box h3 {
    font-size: 3.5vw;
  }
  .text-box{
    row-gap: 2vw;
    margin-bottom: 6vw;
  }
  .linkContainer>i{
    font-size:5vw;
  }
}

@media(max-width:660px){
  .linkContainer{
    position: relative;
  }
  .linkContainer i.bx-menu {
    display: inline-block;
    color: #fff;
  }
  nav{
    margin-bottom: 5vw;
  }
  nav ul{
    row-gap: 15px;
    position: absolute;
    display: none;
    flex-direction: column;
    margin: 10px;
    top: -28px;
    right: 22px;

  }
  .active{
    display: flex;
  }
  .bx-x , nav li{
    display: inline-block;
  }
  .logo span {
    left: 5.5vw;
    bottom: -1vw;
  }
  .text-box .row {
    display: flex;
    margin-top: 5vw;
  }
}
@media(max-width:400px){
  .logo span {
    font-size: 6vw;
    left: 11vw;
    bottom: -8vw;
  }
  .logo h1{
    font-size: 15vw;
  }
  .text-box p {
    font-size: 10vw;
  }
  .text-box h1 {
    font-size: 18vw;
    line-height: 14vw;
  }
  .text-box h3 {
    font-size: 5vw;
  }
  .social-icons {
    right: 2vw;
    bottom: -8vw;
  }
  
  .social-icons i {
    font-size: 5vw;
  }
}