
.text-box {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.text-box p {
  font-size: 5vw;
  font-weight: 600;
}
.textLogo{
  margin-bottom: 2vw;
}

.text-box h1 {
  font-size: 12vw;
  line-height: 10vw;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  background: url("img/back.png");
  -webkit-background-clip: text;
  background-clip: text;
  background-position: 0 0;
  object-fit: cover;
  animation: back 20s linear infinite;
}

@keyframes back {
  100% {
    background-position: 1700px 10px;
  }
}

.text-box h3 {
  font-size: 3vw;
  font-weight: 500;
}

.text-box .row {
  width: 80vw;
  display: flex;
  align-items: center;
  row-gap: 10px;
  column-gap: 10px;
  margin-top: 5vw;
}


.text-box a {
  padding: 10px 20px;
  border: 2px solid #fff;
  border-radius: 50px;
}

.social-icons {
  height: 30vh;
  position: absolute;
  right: 1vw;
  bottom: 7vw;
}

.social-icons i {
  font-size: 3vw;
  display: block;
  margin: 5px;
}
 
@media(max-width:500px){
  .text-box a{
    font-size: 3vw;
  }
}

@media(max-width:767px){
  .text-box p {
    font-size: 7vw;
  }
  .text-box h1 {
    font-size: 15vw;
    line-height: 12vw;
  }
  .text-box h3 {
    font-size: 3.5vw;
  }
  .text-box{
    row-gap: 2vw;
    margin-bottom: 6vw;
  }
  
}

@media(max-width:400px){
  .logo span {
    font-size: 6vw;
    left: 11vw;
    bottom: -8vw;
  }
  .logo h1{
    font-size: 15vw;
  }
  .text-box p {
    font-size: 10vw;
  }
  .text-box h1 {
    font-size: 18vw;
    line-height: 14vw;
  }
  .text-box h3 {
    font-size: 5vw;
  }
  .social-icons {
    right: 2vw;
    bottom: -8vw;
  }
  
  .social-icons i {
    font-size: 5vw;
  }
}